body {
    background-color: darkcyan;
    background-attachment: fixed;
}

.card {
    width: 400px;
    height: 500px;
}

.btn {
    background-color: darkcyan;
    color: white;
}

.cím1 {
    text-align: center;
    color: white;
}
