body {
    background-color: darkcyan;
    background-attachment: fixed;
}

.card {
    width: 400px;
    height: 500px;
}

.btn {
    background-color: darkcyan;
    color: white;
}

.bevezeto {
    background-color: white;
    color:darkcyan;
    text-align:center;
}